<h2 mat-dialog-title>{{ isEditMode ? "Editar Tarea" : "Nueva Tarea" }}</h2>
<mat-dialog-content>
  <mat-form-field appearance="fill">
    <mat-label>Título Tarea</mat-label>
    <input
      matInput
      [(ngModel)]="data.nombre"
      placeholder="Título Tarea"
      name="nombre"
      required
    />
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Descripción</mat-label>
    <textarea
      matInput
      [(ngModel)]="data.descripcion"
      placeholder="Descripción"
      name="descripcion"
      required
    ></textarea>
  </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Cancelar</button>
  <button mat-button (click)="guardarCambios()">Guardar</button>
</mat-dialog-actions>
